.stacksboard-board-container {
  display: flex;
  flex-direction: column;
}

.stacksboard-row-container {
  display: flex;
}

.stacksboard-slot-container {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

.stacksboard-slot-img {
  object-fit: cover;
}

.stacksboard-slot-available-container {
  background: green;
}

.stacksboard-slot-img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
