.stacksboard-container {
  height: 100%;
  width: 100%;
}

.stacksboard-placeholder {
  height: 288px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stacksboard-board-container {
  display: flex;
  flex-direction: column;
}

.stacksboard-row-container {
  display: flex;
}

.stacksboard-slot-container {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

.stacksboard-slot-img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
